body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/036/759/original/pexels-veeterzy-39811.jpg?1654826746");
  background-size: 1500px;
  display: block;
}

h1 {
  text-align: center;
  padding-top: 10px;
  background: linear-gradient(to right, #3fcf13 0%, #7affa2 50%, #5bcfb0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px -1px rgba(1, 4, 0, 0.5);
  color: #010400;
}

h2 {
  text-align: center;
}

.weather-card {
  margin: 0 auto;
  display: block;
  max-width: 700px;
  height: 800px;

  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}

.temperature {
  margin: 0 auto;
  display: block;
  text-align: center;
}

img {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.dates {
  padding-top: 30px;
  text-align: center;
}

.time-display {
  margin: auto;
  text-align: center;
  max-width: 360px;
  text-shadow: 5px 5px 10px rgba(13, 156, 114, 0.4);
  color: black;
  font-size: 15px;
  border: 10px groove rgba(93, 241, 155, 0.7);
  border-radius: 50px;
}

.weather {
  color: #010400;
  list-style-type: none;
  text-align: center;
}

.weather-forecast {
  text-align: center;
  margin: 0 auto;
  padding: 0%;
  display: block;
  padding-top: 50px;
}

.weather-forecast-date {
}

.git-link {
  text-align: center;
}
