body {
  font-family: "Times New Roman", Times, serif;
  background: #010400;
}

h1 {
  text-align: center;
  padding-top: 30px;
  background: #3fcf13;
  background: linear-gradient(to right, #3fcf13 0%, #7affa2 50%, #5bcfb0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px -1px rgba(1, 4, 0, 0.5);
  color: #010400;
}

h2 {
  text-align: center;
}

h5 {
  padding-top: 30px;
  text-shadow: 1px 8px 9px rgba(29, 57, 29, 0.6);
  text-align: center;
}

.weather-container {
  margin: 20px auto;
  padding: 20px;
  width: 700px;
  height: 800px;
  background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  border-radius: 1%;
}

.dates {
  padding-bottom: -20px;
  text-align: center;
}

.time {
  margin: auto;
  text-align: center;
  max-width: 360px;
  text-shadow: 5px 5px 10px rgba(13, 156, 114, 0.4);
  color: black;
  font-size: 20px;
  border: 10px groove rgba(93, 241, 155, 0.7);
  border-radius: 50px;
}

.temp-highs {
  color: black;
  font-size: 15px;
  text-align: center;
}

.panda-image {
  padding-top: 30px;
  margin: 0 auto;
  display: block;
  width: 250px;
  height: 100px;
  text-align: center;
}

.weather {
  list-style-type: none;
  text-align: center;
}
