body {
  font-family: "Times New Roman", Times, serif;
  background: #010400;
}

h1 {
  text-align: center;
  padding-top: 30px;
  background: #3fcf13;
  background: linear-gradient(to right, #3fcf13 0%, #7affa2 50%, #5bcfb0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px -1px rgba(1, 4, 0, 0.5);
  color: #010400;
}

h2 {
  text-align: center;
}

h4 {
  color: #255317;
  padding-top: 30px;
  text-shadow: 1px 8px 9px rgba(29, 57, 29, 0.6);
  text-align: center;
}

.weather-app {
  margin: 0 auto;
  max-width: 700px;
  max-height: 700px;
}

.weather-container {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/034/763/original/bamboo-1.jpg.jpg?1653069434);
  background-size: auto;
  margin: 20px auto;
  padding: 20px;
  width: 600px;
  height: 700px;
  border-radius: 40px;
}

.units {
  display: block;
  margin: 0 auto;
  background: radial-gradient(
    788px at 0.7% 3.4%,
    rgb(164, 231, 192) 0%,
    rgb(255, 255, 255) 90%
  );

  max-width: 400px;
  max-height: 200px;
  border-color: #3fcf13;
  border-radius: 20px;
}

.dates {
  padding-top: 30px;

  text-align: center;
}

.time {
  margin: auto;
  text-align: center;
  max-width: 360px;
  text-shadow: 5px 5px 10px rgba(13, 156, 114, 0.4);
  color: black;
  font-size: 20px;
  border: 10px groove rgba(93, 241, 155, 0.7);
  border-radius: 50px;
}

.temp-highs {
  color: darkgreen;
  font-size: 20px;
  text-align: center;
}

.weather-image {
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0 auto;
  display: block;
  width: 250px;
  height: 100px;
  text-align: center;
}

.weather {
  list-style-type: none;
  text-align: center;
}

.days {
  padding-top: 50px;
}
